.bar {
	fill: steelblue;
	opacity: 0.5;
}
.bar:hover {
	fill: brown;
}
html {
	color: white;
	background-image: url("bkgrndimg.png");
}
.axis text {
    font: 10px sans-serif;
    color: white;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar text {
	fill: white;
}