html {
	color: white;
	background-image: url("bkgrndimg.png");
}
.bar{
	fill: steelblue;
}
.bar:hover {
	fill: brown;
}
.axis text {
    font: 10px sans-serif;
    color: white;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
text {
	fill: white;
	font-size: 17px;
}
