html
  head
    title Visualize.FM
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    div.container.home
      div.row.auth
        form.form-group
          label Enter Your Last.FM Username
          input.form-control(
            type='text',
            name='userName'
          )