html
  head
    title Visualize.FM
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    form(onInput='limitValue.value=nLimit.value') 
      | Last.FM username:  
      input#user(type='text', value='alisatrocity')
      |   Time period:  
      select#period
        option(value='overall') overall
        option(value='7day') last 7 days
        option(value='1month') last 1 month
        option(value='3month') last 3 months
      |   Limit =    
      input#nLimit(type='range', name='nLimit', min='2', max='50')
      output#limitValue(name='limitValue', value='')
    br
    br
    br
    svg.chart
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
  script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
  script(type='text/javascript', src='../javascripts/visual.js')
