html
  head
    title Visualize.FM
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    div.container.home
      div.row
        div.list-group.text-center
          div.list-group-item
            h1 #{user}
          div.list-group-item
            a(href='/bar_chart') Bar Chart
          div.list-group-item
            a(href='/bubble_chart') Bubble Chart
          div.list-group-item
            a(href='/pie_chart') Pie Chart