html
  head
    title Visualize.FM
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
        li
            a(href='/bar_chart') Bar Chart 
        li
            a(href='/circle_chart') Circle Chart