html
  head
    title Visualize.FM
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      div.container
        ul.nav.nav-tabs
          li
            a(href='/') Home
    div.container.home
      div.row
        div.list-group.text-center
          div.list-group-item
            a(href='/bar_chart') Bar Chart
          div.list-group-item
            a(href='/bubble_chart') Bubble Chart
          div.list-group-item
            a(href='/pie_chart') Pie Chart


