html
  head
    title Visualize.FM
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
  script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
  script(type='text/javascript', src='../javascripts/pie.js')