body{
	background url("/assets/backgroundimage.png") repeat
}
a{
  color #00B7FF
}
html{
  color white
}
.charts{
  font 3em
  text-align center
  padding 5px 5px
}
.charts img{
  border 1px black solid
  max-width 100%
  max-height 100%
}
.bar{
  fill steelblue
}
.bar:hover{
  fill brown
}
.axis text{
    fill white
    font 10px sans-serif
}
.axis path,
.axis line{
    fill none
    stroke #000
    shape-rendering crispEdges
}
.home{
  padding 10em 20em
}
.auth{
  margin 0 auto
  width 50%
}