body {
  background: url("bkgrndimg.png") repeat;
  color: #fff;
}
a {
  color: #00b7ff;
}
html {
  padding: 60px 0px 0px 0px;
}
.bar {
  fill: #4682b4;
}
.bar:hover {
  fill: #a52a2a;
}
.axis text {
  color: #fff;
  font: 10px sans-serif;
}
text {
  color: #fff;
  font-size: 17px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
form {
  color: #fff;
}
.auth {
  position: absolute;
  max-width: 60%;
  max-height: 60%;
  margin: 0 auto;
}
