body{
	background url("bkgrndimg.png") repeat
  color white
}
a{
  color #00B7FF
}
html{
  padding 60px 0px 0px 0px
}
.bar{
	fill steelblue
}
.bar:hover{
	fill brown
}
.axis text{
    color white
    font 10px sans-serif
}
text{
  	color #fff
  	font-size 17px
}
.axis path,
.axis line{
    fill none
    stroke #000
    shape-rendering crispEdges
}
form{
  color white
}
.auth{
  position absolute
  max-width 60%
  max-height 60%
  margin 0 auto
}